.sectionBox {
  width: 100%;
}

:is(.sectionBox) section {
  width: 85vw;
  margin: 0 auto;
}

.sectionBox h2 {
  font-size: 4.209rem;
  font-family: var(--font-thicc);
  letter-spacing: 0.2rem;

  padding-bottom: 2rem;
}

:is(.sectionBox section) p {
  font-size: 2.074rem;
  line-height: 2.5rem;
  padding-bottom: 0.694rem;
}
