.sectionBox {
  width: 100%;
  /* height: 90vh; */
  background-color: var(--clr-white);
  margin: 0 auto;
  padding: 3rem 0;
}

:is(.sectionBox) section {
  width: 60vw;
  margin: 0 auto;
  padding: 3rem 0;
}

.sectionBox h2 {
  font-size: 4.209rem;
  font-family: var(--font-thicc);
  letter-spacing: 0.2rem;
  padding-bottom: 2rem;
}

:is(.sectionBox section) p {
  font-size: 1.44rem;
  line-height: 2.2rem;
  padding-bottom: 0.694rem;
}

/*Responsive*/
@media (max-width: 750px) {
  .sectionBox {
    padding: 2.5rem 0;
  }

  :is(.sectionBox section) p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media (max-width: 450px) {
  :is(.sectionBox section) p {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .sectionBox h2 {
    font-size: 3.815rem;
  }

  .sectionBox section {
    width: 100%;
    padding: 3rem 1rem;
  }
}
