/*The Whole Header area*/
.programBox {
  padding: 4rem 0rem;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  /* border: 1px solid pink; */
  /* background: var(--clr-black); */
}

/*Line-up Header*/
.header {
  font-family: var(--font-thicc);
  font-size: 5.61rem;
  letter-spacing: 0.3rem;
  line-height: 1;
  color: var(--clr-white);
  margin: 0;
  padding: 0;
}
.bandBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
  background: var(--clr-white);
}

.bandBox div {
  cursor: pointer;
  z-index: 10;
}

.container {
  width: 100%;
  /* border: 1px solid hotpink; */
  background-color: white;
  position: relative;
}

.bcontainer {
  /* width: 100vw;
  height: 100vh; */
  /* z-index: 50; */
  position: relative;
}

.programBox button {
  z-index: 10;
}
.programBox h1 {
  z-index: 10;
}
