.inputField {
  height: 2.5rem;
  width: 18rem;
  padding: 1rem;
  border-radius: 6px;
  border: none;
}
.inputFieldLabel {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.oneAttendee {
  display: flex;
  gap: 1rem;
}

.allAttendees {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
