.checked {
  color: black;
  background-color: white;
}

.campCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 2px solid white;
  width: 10rem;
  height: 12rem;
  justify-content: space-evenly;
  align-items: center;
}

.SoldOut {
  color: gray;
}

.campName {
  text-transform: uppercase;
}

.input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;

  margin: 0;
}
