.wrapperForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.inputField {
  height: 2.5rem;
  width: 18rem;
  padding: 1rem;
  border-radius: 6px;
  border: none;
}

.inputAndCvc {
  display: flex;
  justify-content: space-between;
}

.inputFieldLabel {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.inputExpiry {
  height: 2.5rem;
  width: 8rem;
  padding: 1rem;
  border-radius: 6px;
  border: none;
}

.inputCvc {
  height: 2.5rem;
  width: 6rem;
  padding: 1rem;
  border-radius: 6px;
  border: none;
}

.cardDetailsForm {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.labelDivIcon {
  display: flex;
  justify-content: space-between;
}

.nextButton {
  background: none;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  color: white;
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}
.nextButton:hover {
  background: white;
  border: none;
  border: 2px solid white;
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}
.previousButton {
  background: none;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  color: white;
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}
.previousButton:hover {
  background: white;
  border: none;
  border: 2px solid white;
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}

.twoButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 15rem;
}
