/*Time is over - modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid pink;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  /* backdrop-filter: blur(5px); */
}

.modalContent {
  background-color: var(--clr-black);
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
}
