.festmap {
  position: relative;
  width: 40%;
  /* display: inline-block; */
  height: 500px;
  /* cursor: pointer; */
  overflow: hidden;
  transition: height 0.3s ease;
}

.image {
  object-fit: cover;
  position: absolute;
}

.expanded {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

.textContainer {
  width: 40%; /* adjust as needed */
  padding: 20px;
  color: white;
}

:is(.textContainer, h2, p) {
  padding-bottom: 1rem;
}

/*Responsive*/
/* @media (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
} */

@media (max-width: 580px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
  }

  .festmap,
  .textContainer {
    width: 80%;
  }
}
