/* Modal.module.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
}
