/* Modal.module.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 60%;
  max-height: 90%;
  overflow-y: auto;
} */

.modalContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 75%;
  max-height: 90%;
  position: relative;
}

.modalContent .text {
  flex: 1;
  padding: 20px;
}

.modalContent .text h2 {
  padding: 10px;
}

.modalContent .text p {
  padding: 10px;
}

.modalContent .logo {
  flex: 1;
  padding-left: 20px;
  text-align: right;
}

.modalContent button {
  position: absolute;
  top: 10px;
  right: 15px;
  /* top: -20px; */
  /* right: -20px; */
  border: none;
  background: none;
  cursor: pointer;
  background-color: whitesmoke;
  /* padding: 20px; */
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  z-index: 20;
  transition: all 0.3s ease-out;
}

.modalContent button:hover {
  transform: scale(1.05);
  background-color: red;
  color: var(--clr-white);
}

:is(.text, p) {
  line-height: 1.35rem;
}

.bolded {
  font-weight: 500;
}

/*Responsive*/
@media (max-width: 750px) {
  .modalContent {
    display: flex;
    flex-direction: column;
  }

  .modalContent .logo {
    padding-left: 0;
  }
}

/* @media (max-width: 450px) {
  .band {
    font-size: 0.75rem;
    margin: 0;
  }
} */
