.buttonsDiv {
  display: flex;

  width: 6rem;
  justify-content: space-between;
  align-items: center;
}

.buttonsDiv button {
  border: none;
  padding: 0.6rem;
}

.oneTent {
  display: flex;
  gap: 2rem;
}

.tents {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 2rem;
  border-top: 1px solid white;
}

@media (max-width: 900px) {
  .buttonsDiv {
    width: 5rem;
  }
}

@media (max-width: 600px) {
  .tents {
    font-size: 0.9rem;
    gap: 1.5rem;
    padding-top: 1rem;
  }
}
