.nextButton {
  background: none;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  color: white;
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}
.nextButton:hover {
  background: white;
  border: none;
  border: 2px solid white;
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}

.ticket {
  max-width: 50%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: 15rem;
  margin-top: 3rem;
}
