/* .marquee {
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-top: 1rem;
  padding: 2rem 0rem;
  grid-column-gap: 1rem;
  background-color: pink;
}

.marqueeContent {
  display: flex;
  min-width: 100%;
  justify-content: space-around;
  flex: 0 0 auto;
  grid-column-gap: 1rem;
  animation-name: scroll;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.scroll {
  animation: scroll 20s linear infinite;
}

.reverse {
  animation-direction: reverse;
} */

/* .marquee {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2rem;
  font-style: italic;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  background: #fdf5a1;
}


} */

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 1rem;
  background-color: var(--clr-hover);
}

.marqueeContent {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x 60s linear infinite;
}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

:root {
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}
